{
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": true,
  "printWidth": 9999,
  "tabWidth": 4,
  "useTabs": false,
  "singleAttributePerLine": false,
  "proseWrap": "never",
  "endOfLine": "auto"
}
